body {
    background-color: #ffe5f0;
    color: #ff5fba;
    font-family: Andika;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.controls {
    margin-bottom: 20px;
}

/* La graella de 10x10 */
#grid-container {
    display: grid;
    grid-template-columns: repeat(10, 30px); /* 10 columnes de 30px */
    grid-template-rows: repeat(10, 30px);    /* 10 files de 30px */
    gap: 2px; /* Espai entre cel·les */
    border: 10px solid #000000;
    background-color: #656565;
}

/* Estil base de cada cel·la */
.cell {
    width: 30px;
    height: 30px;
    background-color: #ffd3ee; /* Color per defecte (fons) */
    transition: background-color 0.3s;
    justify-content: center;
    align-items: center;
    display: flex;
  }


/* Color quan la cel·la està "pintada" */
.cell.active {
    background-color: #c5eac7; /* Verd fluorescent */
    box-shadow: inset 0 0 10px #000;
}
.cell.bomba {
    background-color: #ff7171; /* Verd fluorescent */
    box-shadow: inset 0 0 10px #000;
}
